# to define environment variables available to docker-compose.yml
COMPOSE_PROJECT_NAME=my_project
VERSION_TAG=latest
IMAGE_DIR=cryptolabinc/

# endpoint
ENVECTOR_ENDPOINT_HOST_PORT=50050  # Set your endpoint host port here
ENVECTOR_ENDPOINT_IMAGE_NAME=${IMAGE_DIR}envector-endpoint
ENVECTOR_ENDPOINT_TAG=${VERSION_TAG}
ENVECTOR_BACKEND_ADDR=dns:///backend:50051

# backend
ENVECTOR_BACKEND_IMAGE_NAME=${IMAGE_DIR}envector-backend
ENVECTOR_BACKEND_TAG=${VERSION_TAG}
ENVECTOR_BACKEND_ADDR=dns:///backend:50051

# orchestrator
ENVECTOR_ORCHESTRATOR_IMAGE_NAME=${IMAGE_DIR}envector-orchestrator
ENVECTOR_ORCHESTRATOR_TAG=${VERSION_TAG}
ENVECTOR_ORCHESTRATOR_PORT=25121

# shaper
ENVECTOR_SHAPER_IMAGE_NAME=${IMAGE_DIR}envector-shaper
ENVECTOR_SHAPER_TAG=${VERSION_TAG}
ENVECTOR_SHAPER_PORT=25122

# compute
ENVECTOR_COMPUTE_IMAGE_NAME=${IMAGE_DIR}envector-compute
ENVECTOR_COMPUTE_TAG=${VERSION_TAG}
ENVECTOR_COMPUTE_PORT=25123
# Optional: set only if you want to override the auto-advertised host (defaults to POD_IP/hostname)
# ENVECTOR_COMPUTE_ADVERTISE_HOST=envector-compute:25123

# ENVECTOR_COMPUTE GPU ID
ENVECTOR_COMPUTE_GPU0_ID=0
ENVECTOR_COMPUTE_GPU1_ID=1
ENVECTOR_COMPUTE_GPU2_ID=2
ENVECTOR_COMPUTE_GPU3_ID=3

# License Key
# ENVECTOR_LICENSE_TOKEN=

# DB
ENVECTOR_DB_PORT=5432
ENVECTOR_DB_USER=postgres
ENVECTOR_DB_PASSWORD=abcdefghi
ENVECTOR_DB_NAME=mydatabase
ENVECTOR_DB_SCHEMA=public
ENVECTOR_DB_SSL=disable
ENVECTOR_DB_URL="postgresql://postgres:abcdefghi@metadatadb:5432/mydatabase"

# Storage
ENVECTOR_STORAGE_PROVIDER=s3
ENVECTOR_STORAGE_PORT=59000
ENVECTOR_STORAGE_CONSOLE_PORT=59001
ENVECTOR_STORAGE_USER=minioadmin
ENVECTOR_STORAGE_PASSWORD=abcdefghi
ENVECTOR_STORAGE_SECURE=false # Set to true if using HTTPS
ENVECTOR_STORAGE_BUCKET_NAME=envector
ENVECTOR_STORAGE_CREATE_BUCKET=true
ENVECTOR_STORAGE_HAS_HEALTHCHECK_ENDPOINT=true # Set to true if storage has health check endpoint

# docker setup
DOCKER_VOLUME_DIRECTORY=. # Set the docker volume mounting directory if needed

# Log Level
ENVECTOR_LOG_LEVEL=INFO
