{{- /* Creates Secret for DB connection URL when externalSecrets.dbSecret is disabled and existingSecrets.dbSecret is not set */ -}}
{{- if and (not .Values.externalSecrets.dbSecret.enabled) (eq (.Values.existingSecrets.dbSecret | default "") "") }}
{{- $defaultSecretName := printf "%s-db-secret" (include "es2-chart.fullname" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $defaultSecretName }}
  labels:
    app: {{ include "es2-chart.fullname" . }}
    component: db-secret
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
stringData:
  ES2_DB_SERVICE_URL: {{ .Values.externalServices.metadatadb.url | quote }}
{{- end }}

