{{- /* Creates Secret for storage credentials when externalSecrets.storageSecret is disabled and existingSecrets.storageSecret is not set */ -}}
{{- if and (not .Values.externalSecrets.storageSecret.enabled) (eq (.Values.existingSecrets.storageSecret | default "") "") }}
{{- $defaultSecretName := printf "%s-storage-secret" (include "es2-chart.fullname" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $defaultSecretName }}
  labels:
    app: {{ include "es2-chart.fullname" . }}
    component: storage-secret
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
stringData:
  ES2_STORAGE_SERVICE_USER: {{ .Values.externalServices.storage.user | default "" | quote }}
  ES2_STORAGE_SERVICE_PASSWORD: {{ .Values.externalServices.storage.password | default "" | quote }}
{{- end }}
